<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div *ngIf="!identity || identity == null">
		Inicia sesión para acceder a más opciones...
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title ">Opciones de Búsqueda</h4>
					</div>
					<div class="card-body">
						<form class="col-md-12" role="search">
							
							<div class="form-group col-md-6">
								<label>Mostrar solo</label>
								<select class="form-control" name="filter" [(ngModel)]="filter">
									<option value="0" selected="selected">Sin filtro</option>
									<option value="1">Nuevas</option>
									<option value="2">Para hacer</option>
									<option value="3">Acabadas</option>
								</select>
							</div>
							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label>Orden por</label>
								<select class="form-control" name="order" [(ngModel)]="order">
									<option value="0" selected="selected">Por defecto</option>
									<option value="1">Fecha ascendente</option>
									<option value="2">Fecha descendente</option>
								</select>
							</div>
							<div class="clearfix"></div>
							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input type="text" class="form-control" placeholder="¿Que tarea buscas?" name="searchString" [(ngModel)]="searchString"/>
							</div>
							<button type="submit" class="btn btn-default btn-search" (click)="search();">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								Buscar
							</button>
						</form>
					</div>
				</div>
			</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="identity && identity.sub">
		<!--MOSTRAR BUSCADOR-->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="all-tasks">
					<div class="loader" *ngIf="loading == 'show'">
						<img src="assets/img/loader.gif" />
					</div>
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title ">Lista de Tareas</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table" id="tasks-list" *ngIf="tasks && tasks.length >=1">
									<thead class=" text-primary">
										<th>
											Estado
										</th>
										<th>
											Título
										</th>
										<th>
											Opciones
										</th>
									</thead>
									<tbody>

										<tr *ngFor="let task of tasks" class="task-item">
											
											<td>
												<h4>
													<span class="badge badge-lg badge-success" *ngIf="task.status == 'finished'">
														Acabada
													</span>

													<span class="badge badge-lg badge-warning" *ngIf="task.status == 'todo'">
														Para hacer
													</span>

													<span class="badge badge-lg badge-primary" *ngIf="task.status == 'new'">
														Nueva
													</span>
												</h4>
											</td>
											<td>
												<h4>
													<a [routerLink]="['task', task.id]">{{task.title}}</a>
												</h4>
											</td>
											<td>
												<a [routerLink]="['task-edit', task.id]" class="btn btn-warning">Editar</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="loading != 'show' && !tasks || tasks.length == 0">
						<div class="clearfix"></div>
						<div class="alert alert-warning" >
							No se han encontrado tareas, crealas <a [routerLink]="['/task-new']">pinchando aqui</a>.
						</div>
					</div>
					<nav aria-label="Page navigation example">
					<ul class="pagination" *ngIf="tasks && tasks.length >= 1 && !searchString && !filter && !order">
						<li class="page-item">
							<a class="page-link" [routerLink]="['/index', pagePrev]" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item" *ngFor="let page of pages">
							<a class="page-link" [routerLink]="['/index', page+1]">{{page+1}}</a>
						</li>
						<li class="page-item">
							<a class="page-link" [routerLink]="['/index', pageNext]" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
				</div>
			</div>

		</div>
	</div>
</div>